 /* averia-sans-libre-300 - latin */
 @font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Averia Sans Libre Light'), local('AveriaSansLibre-Light'),
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-300.svg#AveriaSansLibre') format('svg'); /* Legacy iOS */
}
/* averia-sans-libre-regular - latin */
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'),
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-regular.svg#AveriaSansLibre') format('svg'); /* Legacy iOS */
}
/* averia-sans-libre-700 - latin */
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Averia Sans Libre Bold'), local('AveriaSansLibre-Bold'),
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/averia-sans-libre/averia-sans-libre-v6-latin-700.svg#AveriaSansLibre') format('svg'); /* Legacy iOS */
}
